@use '../abstracts' as abs;
.topbar {
  padding: 24px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logo {
    flex-shrink: 0;
    color: white;
  }
  &-right {
    @include abs.flexBox(center, null, 24px);
    & > * {
      flex-shrink: 0;
    }
  }
}
.search {
  padding: 12px 20px;
  @include abs.rounded('rounded-xl');
  @include abs.flexBox(center, null, 12px);
  flex: 0 1 360px;
  &-input {
    @include abs.bg(transparent);
    flex: 1;
    border: none;
    font-weight: 500;
    color: abs.$primary-color;
    caret-color: abs.$primary-color;
    @include abs.placeholder(abs.$gray2);
  }
}
@media screen and (min-width: 1280px) {
  .topbar-logo {
    display: none;
  }
}

@media screen and (max-width: 1279.98px) {
  .topbar {
    padding: 20px 24px;
  }
  .topbar-action,
  .search,
  .button-upload {
    display: none;
  }
}
.profile {
  display: block;
  @include abs.size(48px);
  img {
    border-radius: 100rem;
    @include abs.imgCover();
  }
}
.button-upload {
  --gap: 6px;
  --p: 0 15px;
  height: 48px;
  @include abs.flexBox(center, null, 6px);
  display: none;
}
