@use '../abstracts' as abs;

.heading {
  --mb: 0px;
  font-size: 16px;
  line-height: 1.5;
  @include abs.fw('semibold');
  margin-bottom: 20px;
  margin-bottom: var(--mb);
}
.widget {
  margin-bottom: 40px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &-heading {
    font-size: 16px;
    font-weight: 600;
  }
  &-view-all {
    font-size: 14px;
    color: abs.$text-black2;
  }
}
