.host
  h2.heading.host-heading
  ul.host-list
    - var n = 7;
    //- each user in [{name: "Thomas" ,color: "hsla(14, 100%, 82%, 1)"}, {name: "Darrell", color: "hsla(39, 100%, 75%, 1)"}, {name: "Arlene", color: "hsla(248, 57%, 80%, 1)"}, {name: "Kristin", color: "hsla(314, 100%, 85%, 1)"}, {name: "Courtney ", color: "hsla(39, 100%, 84%, 1)"}, {name: "Cody", color: "hsla(314, 100%, 89%, 1)"}, {name: "Arlene", color: "hsla(248, 57%, 80%, 1)"}]
    while n > 0
      li.host-item
        .host-avatar(style= `--color: hsla(14, 100%, 82%, 1)`)
          img(src="../../../images/img-host-user.png 2x", alt="thomas")
        span.host-name Thomas
      - n--
