mixin menuItem(text, icon = '../../images/icons/icon-home.svg', href = '#')
  li.menu-item 
    a.menu-link(href= href)
      //- img(src= icon, alt="home").menu-icon
      span.menu-icon 
        if icon 
          case icon
            when 'icon-home'
              include ../icons/icon-home
            when 'icon-chart'
              include ../icons/icon-chart
            when 'icon-3dcube'
              include ../icons/icon-3dcube
            when 'icon-play'
              include ../icons/icon-play
            when 'icon-subscriptions'
              include ../icons/icon-subscriptions
            when 'icon-discovery'
              include ../icons/icon-discovery
            when 'icon-microphone'
              include ../icons/icon-microphone
            when 'icon-user'
              include ../icons/icon-user
            when 'icon-adduser'
              include ../icons/icon-adduser
            when 'icon-medal'
              include ../icons/icon-medal
      span.menu-text= text
