extends ./views/layouts/_dashboard
append stylesheet 
  link(rel="stylesheet", href="./styles/home.scss")
block title
  title GO Cast UI - Home page
block main
  .home-wrapper
    .home-left
      include ./views/modules/home/_popular-host
      include ./views/modules/home/_trending
      include ./views/modules/home/_feed
    .home-right
      
