topbar 
  a.topbar-logo(href="/")
    include ../icons/_logo
  .search
    img(scr="../../images/icons/icon-search.svg", alt="search").search-icon
    input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
  .topbar-right
    button.button.button--primary.button-upload
      img(scr="../../images/icons/icon-upload.svg" alt="upload")
      span Upload
    a(href="#").topbar-action
      img(src="../../images/icons/icon-message.svg", alt="message")
    a(href="#").topbar-action
      img(src="../../images/icons/icon-notification.svg", alt="notification")
    a(href="#").profile
      img(src="https://images.unsplash.com/photo-1751510288463-1a3be4f0e6a0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="profile")
