aside.sidebar 
  a.logo(href="/")
    img(scrSet="../../images/logo.png")
  ul.menu
    each item in [{text: "Home",icon: "icon-home"}, {text: "Trending",icon: "icon-chart" }, {text: "Explore Topics",icon: "icon-3dcube"}, {text: "Playlist",icon: "icon-play"}, {text: "Subscriptions",icon: ".icon-subscriptions"}]
      +menuItem(item.text, item.icon)
  ul.menu
    h3.menu-heading Podcasters
    each item in [{text: "Dashboard",icon: "icon-discovery"}, {text: "Episodes",icon: "icon-microphone" }, {text: "Team",icon: "icon-user"}, {text: "Subscribers",icon: "icon-adduser"}]
      +menuItem(item.text, item.icon)
  ul.menu
    h3.menu-heading Community
    each item in [{text: "Leaderboard", icon: "icon-medal"}]
      +menuItem(item,text, item.icon)
